.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .searchInput {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .searchButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #414e4d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .searchButton:hover {
    background-color: #39a82d;
  }

 