.container {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: url("https://w0.peakpx.com/wallpaper/90/953/HD-wallpaper-snowdog-sunset-black-dog-animal-winter-snow-sunsets-sunrise-white-animals-dogs-dog-night.jpg");
    overflow: hidden;
    object-fit: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px);
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    /* border-radius: 5px; */
    margin-left: 20px;
  }
  
  .h1 {
    font-family:Arial;
    color: #333;
    font-weight: 900;
    font-size: 4rem;
    margin-bottom: 20px;
  }
  
  .button {
    background-color: transparent;
    color: #fff;
    font-size: 1.5rem;
    padding: 0;
    border: none;
    cursor: pointer;
    font-family: Arial;
    transition: color 0.2s;
  }
  
  .button:hover {
    color: #333;
  }
  